* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

body {
  // min-height: 200vh;
  background-color: #000;
  width: 100%;
  color: white;
}
