@import "./core/colors";
@import "./core/mixins";
@import "./components/navigation";
@import "./components/heading";
@import "./components/aboutUs";
@import "./components/howTo";
@import "./components/faq";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 350vh;
  background-color: $pink;
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}
