.heading {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/scenery.png");
  background-size: contain;
  background-repeat: no-repeat;
  @media (max-width: 720px) {
    background-size: 135%;
    height: 100vw;
  }

  .heading__slogan {
    position: relative;
    width: 50%;
    top: 10%;
    margin-left: 10%;
    @media (max-width: 720px) {
      top: 20%;
    }

    .slogan__text {
      font-size: 52px;
      @media (max-width: 1240px) {
        font-size: 4vw;
      }
      @media (max-width: 720px) {
        font-size: 6.5vw;
      }
    }
    .slogan__button {
      margin-top: 20px;
      @include button;
    }
  }
}
